//Font Variables ---------- //
$font-light: 300;
$font-bold: 700;

$font-color: #444444;

$font-xxs: 0.5rem;
$font-xs: 0.75rem;
$font-s: 0.85rem;
$font-r: 1rem;
$font-m: 1.15rem;
$font-l: 1.5rem;
$font-xl: 1.75rem;

//Main Color Variables ---------- //
$color-bg: #e4e4e4;
$color-light: #ffffff;
$color-button: #2359ce;
$color-meter: #d6d6d6;
$graph-color1: #adadad;
$graph-color2: #209787;
