@import '../../pages/partials/variables';

.mov {
  background-color: $color-light;
  padding: 2rem;
  &__title {
    font-size: $font-xl;
    font-weight: $font-bold;
    margin-bottom: 1rem;
  }
  &__release {
    margin-bottom: 1.75rem;
    font-size: $font-s;
  }
  &__date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
    font-size: $font-m;
    .mov__button {
      background-color: $color-button;
      color: $color-light;
      border: none;
      border-radius: 5px;
      font-size: $font-r;
      padding: 0.75rem;
      margin-right: 2.25rem;
      @media only screen and (max-width: 667px) {
        margin-right: 0rem;
      }
    }
  }
}
